.site-footer
  .footer__wrapper
    .footer--left
      | Portions of this page are reproduced from work created and #[a(href="https://developers.google.com/site-policies") shared by Google] and used according to terms described in the #[a(href="http://creativecommons.org/licenses/by/3.0/") Creative Commons 3.0 Attribution License].
    .footer--right
      | &copy;2015 Beyond The Fringe OC, All Rights Reserved 
