.site-header
  .header__wrapper
    .header--left
      a(href="index.html")
        img.brand(src="assets/img/branding.png")
    .header--right
      nav.header--nav
        a(href="mailto:neeners87@gmail.com?subject=Beyond%20The%20Fringe%20OC").fa.fa-envelope-o
        a(href="https://www.facebook.com/beyondthefringeoc").fa.fa-facebook
        a(href="https://twitter.com/j9hamilton").fa.fa-twitter
        a(href="https://instagram.com/beyondthefringeoc/").fa.fa-instagram
