.site-header
  .header__wrapper
    .header--left
      a(href="index.html" aria-label="Home")
        img.brand(src="assets/img/branding.png")
    .header--right
      nav.header--nav
        a(href="mailto:neeners87@gmail.com?subject=Beyond%20The%20Fringe%20OC" aria-label="Email").fa.fa-envelope-o
        a(href="http://www.yelp.com/biz/beyond-the-fringe-mission-viejo" aria-label="Yelp").fa.fa-yelp
        a(href="https://www.facebook.com/beyondthefringeoc" aria-label="Facebook").fa.fa-facebook
        a(href="https://twitter.com/j9hamilton" aria-label="Twitter").fa.fa-twitter
        a(href="https://instagram.com/beyondthefringeoc/" aria-label="Instagram").fa.fa-instagram
