extends ./includes/boiler

block title
  | Home
  
block css
  link(rel="stylesheet" href="assets/css/index.css")
  
block content
  .sections
    .sections--hero
      .hero
        .hero__wrapper
          h1.title Beyond The Fringe OC Salon
    .sections--people
      .people
        .person__wrapper
          .person
            .person__image.janine
            .person__name Janine Hamilton
            .person__description
              p With 26 years of experience in Orange County hair cutting, color/color correction, extensions, and make-up, Janine works behind the chair as well as going on location for weddings and special events. She is a certified Brazilian Blowout specialist as well as a master stylist and color expert. Janine has been doing hair extensions in Orange County for 20 years and has knowledge in various techniques.
            hr
            .person__contact
              a(href="tel:9494662554").person__contact--phone #[.link-icon.fa.fa-phone] (949) 466-2554
              hr
              a(href="mailto:beyondthefringeoc@gmail.com").person__contact--email #[.link-icon.fa.fa-envelope-o] beyondthefringeoc@gmail.com
              hr
              a(href="https://www.vagaro.com/BeyondTheFringeOC/about#online-scheduling") #[.link-icon.fa.fa-globe] Book Now
        .person__wrapper
          .person
            .person__image.deanna
            .person__name Deanna Moore
            .person__description
              p With over two decades experience as a stylist in  Orange County, Deanna is delighted to join the team here at "Beyond the Fringe OC". She has specialized in hair extensions since 1989 and is well versed in many different methods and techniques along with cutting/designing, highlights/lowlights, chemical relaxers, keratin smoothing treatment, up-do's, wedding and special occasion styles for women and men. She gets great pleasure using her knowledge and creativity to help her clients look and feel their very best.
            hr
            .person__contact
              a(href="tel:9498385664").person__contact--phone #[.link-icon.fa.fa-phone] (949) 838-5664
        .person__wrapper
          .person
            .person__image.ashley
            .person__name Ashley Grace
            .person__description
              p Ashley Grace has been doing hair in South Orange County for over 5 years. Her beautiful fashion color work can be seen throughout the city. She is a certified Brazilian Blowout specialist and has many hours of precision haircutting and color training under such hair gurus as Enjoy, Unite, Redken, Schwartzkopf, and Enzo Milano, to name a few.
            hr
            .person__contact
              a(href="tel:9493313674").person__contact--phone #[.link-icon.fa.fa-phone] (949) 331-3674
              hr
              a(href="https://www.styleseat.com/ashleygrace") #[.link-icon.fa.fa-globe] Book Now
    .clearfix
    .sections--testimonials
      .testimonials
        .testimonial
          .testimonial__name Kristin Lenore #[a(href="https://www.facebook.com/beyondthefringeoc").fa.fa-facebook]
          .testimonial__description Love my new hair by miss Janine!! Thank you :)
        .testimonial
          .testimonial__name Jennifer Gould #[a(href="https://www.facebook.com/beyondthefringeoc").fa.fa-facebook]
          .testimonial__description Love my new hair color! Amazing job! I'm so happy I live close to you now.
        .testimonial
          .testimonial__name Elizabeth Blanchard #[a(href="https://www.facebook.com/beyondthefringeoc").fa.fa-facebook]
          .testimonial__description Great location, great customer service and incredible stylists! Absolutely LOVE this place!
          
    .sections--services
      .services
        h3 Services
        hr
        .services__list
          .service
            .service--info
              .service--name Haircuts
              .service--description For both adults and children. The stylist will determine what the best hair style is for the face shape and lifestyle.
            .service--prices
              ul
                li Haircut: $35-$60
          hr
          .service
            .service--info
              .service--name Color
              .service--description This includes weaves (highlight/lowlights) and one step colors for coverage as well as fashion colors with the newest hues. Our stylists are experts on the newest techniques including ombre and balyage.
            .service--prices
              ul
                li Color: $60 and up
                li Partial Weave: $75 and up
                li Full Weave: $95 and up
                li Ombre and Balyage: $110 and up
          hr
          .service
            .service--info
              .service--name Brazilian Blowout
              .service--description A smoothing treatment for frizzy, damaged or hard to style hair.
            .service--prices
              ul
                li Brazilian Blowout: $200 and up
          hr
          .service
            .service--info
              .service--name Up Do's
              .service--description Wedding and special event styles.
            .service--prices
              ul
                li Up Do's: $60 and up
          hr
          .service
            .service--info
              .service--name Make Up
              .service--description Professional make up application.
            .service--prices
              ul
                li Make Up: $45 and up
          hr
          .service
            .service--info
              .service--name Specialty Services
              .service--description We are greatly experienced in hair extension techniques such as braiding, tape wefts, bead installation, among others. Hair piece replacement for very thin hair is also among our list of services.
            .service--prices
              ul
                li Specialty Services: $100 and up

    .sections--map
      .map
        a(href="https://www.google.com/maps/place/Kaleidoscope+Courtyards/@33.5611165,-117.6739301,17z/data=!3m1!4b1!4m2!3m1!1s0x80dceeedecc3b2d5:0x11cc1d8631ad1641").map__link
        .map__text--wrapper
          .map__text
            span Sola Salons
            br
            span The Kaleidascope
            br
            span Beautiful Mission Viejo, CA
        .map__google-map

    .sections--products
      .products
        h3 Products
        .products__list
          .products__list--item
            .item__image.brazilian-blowout
            .item__description #[.item__name Brazilian Blowout] adds beautiful shine and makes blow drying easier and faster. Can also be used in your every day hair care.
          .products__list--item
            .item__image.enjoy
            .item__description #[.item__name Enjoy] provides a wide variety of products ranging from shampoos and conditioners to styling and finishing.
          .products__list--item
            .item__image.eufora
            .item__description #[.item__name Eufora] is another leading name in hair care. These fast-acting products will keep your hair in shape!
          .products__list--item
            .item__image.layrite
            .item__description #[.item__name Layrite] is an exceptional barber-grade pomade for men.
