// Size
$header_height_desktop_full: 95px;
$header_max_width: 1020px;
$header_branding_offset: 10px;
$header_height_desktop_scrolling: 55px;

$content_max_width: 1020px;


// Font
$main_font: 'Open Sans', Arial, sans-serif;
$alt_font: Montserrat, 'Helvetica Neue', sans-serif;
